/* .gradient-text {
    background: -webkit-linear-gradient(pink, red);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  } */


.display-4, .btn-outline-secondary{

    background: -webkit-linear-gradient(pink, red);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    font-family: 'Fontdiner Swanky', cursive;
    text-align: center;
    color: rgb(194, 28, 45);
    letter-spacing: 2px;
}



#count{

    font-size: 45px;
    text-align: center;
    padding: 5px;
  
    color: rgb(194, 28, 45);
}

.jumbotron{

    text-align: center;
   
    
    
}

.background{

    background-image: url("../images/glasses.png");
    
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;

    
}

h2{
   color: red;

   font-family: 'Courgette', cursive;
    text-align: center;
    
    letter-spacing: 2px;

}


.resultspage{

    color: red;
    
    font-family: 'Courgette', cursive;
    text-align: center;
    
    letter-spacing: 2px;
    font-size: 50px;


}


.card-title{

    color:red;
}

